---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

interface Props {
  title?: string;
}

const { title = 'Autres réalisations' } = Astro.props;

const allProjects = await getCollection('projects');
const projectsSorted = allProjects
  .sort(
    (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
  )
  .slice(3, -1);
---

<section class='w-screen overflow-hidden'>
  <div class='container mx-auto px-3 overflow-visible'>
    <div id='others-swiper' class="swiper !overflow-visible">
      <h1
        class='container mx-auto px-3 font-migra underline underline-offset-8 decoration-expo-primary text-xl pb-8 lg:text-3xl'
      >
        {title}
      </h1>
      <button type="button" class="prev">prev</button>
      <button type="button" class="next">next</button>
      <div class="swiper-wrapper">
        {
          projectsSorted.map((project) => {
            if (project.data.images.hero) {
              return (
                <div class="swiper-slide">
                  <div class='flex flex-col gap-3'>
                    <Image
                      loading={'lazy'}
                      class='w-full aspect-[300/180]'
                      width={300}
                      height={180}
                      src={project.data.images.hero.src}
                      alt={project.data.images.hero.alt}
                    />
                    <h1 class='font-black text-lg'>{project.data.title}</h1>
                    <div
                      class={`${project.data.tags.length === 0 ? 'hidden' : 'flex flex-wrap gap-2'}`}
                    >
                      {project.data.tags.map((tag) => (
                        <span class='text-expo-primary text-xs'>{tag}</span>
                      ))}
                    </div>
                  </div>
                </div>
              );
            }
          })
        }
      </div>
    </div>
  </div>
</section>

<script>
  import Swiper from 'swiper';

  const $swiper = document.getElementById('others-swiper')
  const $prev = $swiper?.querySelector<HTMLElement>('.prev')
  const $next = $swiper?.querySelector<HTMLElement>('.next')

  if ($swiper) {
    const swiper = new Swiper($swiper, {
      slidesPerView: 2.3,
      spaceBetween: 8,
      breakpoints: {
        768: {
          slidesPerView: 3.3,
          spaceBetween: 16
        },
        1024: {
          slidesPerView: 4.3,
          spaceBetween: 32
        }
      },
      navigation: {
        nextEl: $next,
        prevEl: $prev,
      }
    })
    console.log({swiper, $next, $prev});
  }
</script>
