---
import { getCollection } from 'astro:content';

import Project from '../components/Project.astro';

interface Props {
  title?: string;
}
const { title = 'Mes dernières réalisations' } = Astro.props;
const allProjects = await getCollection('projects');
const projectsSorted = allProjects.sort(
  (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
);
---

<section class='container mx-auto px-3 flex flex-col gap-5 lg:gap-20'>
  <h1 class='text-expo-primary font-migra text-2xl lg:text-5xl'>{title}</h1>
  {
    projectsSorted.slice(0, 3).map((project, index) => (
      <>
        <Project
          id={project.id}
          title={project.data.title}
          description={project.data.description}
          images={project.data.images}
          tags={project.data.tags}
        />
        <hr
          class={`${index === projectsSorted.length - 1 ? 'hidden' : 'text-expo-primary'}`}
        />
      </>
    ))
  }
</section>
