---
import type {
  InferGetStaticParamsType,
  InferGetStaticPropsType,
  GetStaticPaths,
} from 'astro';
import { getCollection } from 'astro:content';

import Base from '../../layouts/Base.astro';
import Project from '../../components/Project.astro';

export const getStaticPaths = (async () => {
  const posts = await getCollection('blog');
  return posts.map((post) => {
    return {
      params: { slug: post.slug },
      props: { draft: post.data.draft, title: post.data.title },
    };
  });
}) satisfies GetStaticPaths;

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { slug } = Astro.params;
const { title } = Astro.props;
---

<Base title='Clara Cuelle - Directrice artistique | Webdesigner - Projects'>
  <div class='container mx-auto px-3 py-8 lg:py-16'>
    <h1 class='font-migra text-expo-primary text-2xl lg:text-6xl uppercase'>
      Mes réalisations
    </h1>
    <div class='flex flex-col gap-10 lg:gap-20 mt-10 lg:mt-20'>
      {
        page.data.map((project, index) => (
          <>
            <Project
              id={project.data.id}
              title={project.data.title}
              description={project.data.description}
              images={project.data.images}
              tags={project.data.tags}
            />
            <hr class={`${index == page.size - 1 ? 'hidden' : ''}`} />
          </>
        ))
      }
    </div>
    <div class='w-full flex justify-center items-center gap-5'></div>
  </div>
</Base>
